{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/about-bg.jpg') }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    Hi, I am Izuddeen Azim. A junior programmer and web developer. As a junior programmer and web developer,
                    I am constantly seeking new challenges and opportunities to
                    grow my skills and knowledge. With a strong foundation in programming languages such as HTML, CSS,
                    and Python, I am able to create responsive and dynamic web applications that engage
                    users and deliver value.</p>
                <p>
                    I have experience working with frameworks and libraries such as Flask, Tkinter, and Pandas,
                    and am able to adapt quickly to new technologies and tools. I have also worked with databases
                    such as MySQL and Postgresql, and am familiar with version control systems such as Git.</p>
                <p>
                    In addition to technical skills, I possess excellent communication and teamwork skills, which allow
                    me to collaborate effectively with colleagues and stakeholders. I am passionate about delivering
                    high-quality work that meets business requirements and user needs, and am always looking for ways to
                    improve my skills and contribute to the success of my team.</p>
                <p>
                    Overall, I am a driven and dedicated individual who is eager to learn and grow in the field of web
                    development and programming.</p>

            </div>
        </div>
    </div>
</main>
{% include "footer.html" %}
